/*Colors*/
 /*Logo blackish =#343d3e*/
body {
  background: rgb(244, 236, 217);
}

main {
  background: white;
  margin: 2rem;
  border-radius: 25px;
  padding: 1rem;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.center {
  text-align: center;
}

.intro-text {
  padding: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-family: arial;
}

.login-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid ;
  margin: 1rem;
  margin-top: 3rem;
  max-width: 30rem;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.btn {
  padding: 1rem;
  margin: 1rem;
  width: 7rem;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(0,157,220); /* this is a light blue */
}

.footer {
  text-align: center;
  margin-top: 4rem;
  color: #86848a;
  font-size: .9em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container span {

}

#exercise1 {
  margin-bottom: 1rem;
}

.examples {
  margin: 2rem;
}

#ex1 {
  padding: 1rem;
  background: rgb(236, 102, 66);
  border-radius: 10px;
}

#ex2 {
  padding: 1rem;
  background: rgb(90, 162, 237);
  border-radius: 10px;
}

#ex3 {
  padding: 1rem;
  background: rgb(140, 209, 112);
  border-radius: 10px;
}

#ex4 {
  padding: 1rem;
  background: pink;
  border-radius: 10px;
}
