/*Colors*/
 /*Logo blackish =#343d3e*/

 .blueish {
   background: #afbff1;
 }

 .greenish {
   background: #a0eb81;
 }

 .coraly {
   background: #f6986a;
 }


 /*Global css attributes*/

 *, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 .centered {
   text-align: center;
   margin-top: 2rem;
 }

header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

 .bigger {
   font-size: 1.2rem;
 }

 .biggest {
   font-size: 2.2rem;
 }

.minor {
  border: 1px solid lightgrey;
}

.major {
  margin-top: 3rem;
  border: 2px solid #343d3e;
}

body {
  background: rgb(244, 236, 217);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  background: white;
  margin: 2rem;
  border-radius: 25px;
  padding: 1rem;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.center {
  text-align: center;
  color: #343d3e;
}

.intro-text {
  padding: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-family: arial;
  font-size: 1.15rem;
}

.login-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid ;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  margin-top: 3rem;
  max-width: 30rem;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */



.flex{
  flex: 1;
}

.footer {
  text-align: center;
  /*margin-top: auto;*/
  color: #86848a;
  font-size: .9em;
}

/*Containers*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container-column-master {
  display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-flow: column wrap;
   flex-flow: column wrap;
   -webkit-align-content: stretch;
   align-content: stretch;
   max-height: 50rem;;
}

.container-listening {
  display: flex;
  flex-direction: row;
}


.inline {
  display: inline-block;
}

.space-around {
  padding: 2rem;
}

.writing-img {
  width: 40%;
  height: auto;
  margin: 2rem;
}

.word-box {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  background: rgb(162, 161, 235);
  border-radius: 15px;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.word-box span {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem;
}

/*-------------------------------*/

/*reading exercises*/

.exercises {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.examples {
  margin: 2rem;
}

.ex1 {
  padding: 1rem;
  background: #ec6642;
  border-radius: 10px;
  width: 210px;
  text-align: center;
}

.ex2 {
  padding: 1rem;
  background: #5aa2ed;
  border-radius: 10px;
  width: 210px;
  text-align: center;
}

.ex3 {
  padding: 1rem;
  background: #8cd170;
  border-radius: 10px;
  width: 210px;
  text-align: center;
}

.ex4 {
  padding: 1rem;
  background: #f499f9;
  border-radius: 10px;
  width: 210px;
  text-align: center;
}

/*Circles with colors*/

#circleYellow {
  background: yellow;
  border-radius: 15px;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  padding-right: .4rem;
  padding-bottom: .4rem;
  margin-bottom: 2rem;
}

#circleOrange {
  background: #f29d1e;
  border-radius: 15px;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  padding-right: .4rem;
  padding-bottom: .4rem;
  margin-bottom: 2rem;
}

#circleBlue {
  background: #4364db;
  border-radius: 15px;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-right: .4rem;
  padding-bottom: .4rem;
}

#circlePink {
  background: #fa7ce2;
  border-radius: 15px;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  padding-right: .4rem;
  padding-bottom: .4rem;
  margin-bottom: 2rem;
}

/*Other exercises 4-6*/
#first_span {
  margin-left: 3rem;
}

.story-text {
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-right: 3rem;
}

/*Story section*/

.clear {
  list-style: none;
}

.story-answer {
  padding-left: 1rem;
  font-size: 1.15rem;
  padding-right: 1rem;
}

/*Link styling no style*/
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/*Button and arrows*/

.indiv-line {
  width: 30rem;
  height: 3px;
  margin-right: 2.5rem;
  background: rgb(244, 236, 217);
  border-radius: 15px;
}

.indiv-line1 {
  width: 100%;
  height: 3px;
  margin-right: 2.5rem;
  background: rgb(244, 236, 217);
  border-radius: 15px;
}

#arrow {
  padding-right: 1rem;
  padding-bottom: -1rem;
  font-size: 1.8rem;
}

.back-button {
  font-size: 1.1rem;
  margin: 1rem;
}

.btn {
  padding: 1rem;
  margin: 1rem;
  width: 7rem;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(0,157,220);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }
.js-button {
  border-radius: 15px;
  margin-top: 2rem;
  margin-right: 1rem;
  background: #eec139;
  width: 7rem;
  border: 2px solid #343d3e;
  color: #343d3e;
  font-weight: 600;
}

.finish-button {
  border-radius: 15px;
  margin-top: 2rem;
  margin-right: 1rem;
  background: #ee8b39;
  width: 11rem;
  border: 2px solid #343d3e;
  color: #343d3e;
  font-weight: 600;
}

.larger-border {
  width: 12rem;
}

.listening-question {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 4rem;
  width: 6rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.listening-question:hover {background-color: #3e8e41}

.listening-question:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list-answer {
  height: 3rem;
  margin-bottom: 0;
}


#speaker-q {
  width: 2rem;
  height: auto;
}

.speaker {
  width: 2rem;
  height: auto;
  margin-right: 4rem;
}

.lis2 {
  border-radius: 15px;
}


/*Navigation page*/

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navItem {
  margin: 1rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 3px solid #343d3e;
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
  text-align: center;
  line-height: 15rem;
}

.voc-words {
  width: 7rem;
  height: 7rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.drag-item {
  width: 5rem;
  height: 5rem;
  padding-left: .3rem;
  padding-top: .3rem;
}

 .container span {
  font-weight: 600;
  font-size: 1.6rem;
  width: 6.5rem;
  text-align: center;
  margin-left: 3rem;
  margin-top: 2rem;

}

.box {
  border: 2px solid #343d3e;
  border-radius: 15px;
  width: 5.5rem;
  height: 5.5rem;
  margin: 2rem;
}


.box-1 {
  width: 5.22rem;
  height: 5.22rem;
}

/*Inputs*/

.number-input {
  width: 4rem;
  height: 2.2rem;
  margin-right: 3rem;
  font-size: 2.1rem;
}

.text-input {
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 2.5rem;
}

.maths {
  display: flex;
  flex-direction: row;
}

/*Listening Styles*/

.listening-phrases {
  background: #ec3b53;
  border: 2px solid #5a6262;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  margin-right: 1rem;
  margin-left: 3rem;
  margin-top: 4rem;
  width: 15rem;
}

.listening-phrases p {
  margin: 0;
  font-weight: 600;
  padding-top: .5 rem;
  color: white;
}

.listening-input {
  margin-top: 4.5rem;
  width: 17rem;
  font-size: 2rem;
}

.container-listening-drag {
  width: 15rem;
  height: 5rem;
  background: white;
  border: 2px solid #343d3e;
  border-radius: 15px;
  padding: 1rem;
  margin-right: 2rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

.container-listening-drag p {
  margin: 0;
  font-weight: 600;
  padding-top: .5 rem;
}


.grid {
  width: 40%;
  padding: 0;
  margin: 0;
  margin-right: 2rem;
}


.grid-right {
  width: 40%;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.listening-q {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
}

.listening-q2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}


.listening-pics {
  width: 100%;
  height: auto;
  border: 2px solid #5a6262;
  border-radius: 15px;
}

.listening-pics2 {
  width: auto;
  height: auto;
  border: 2px solid #5a6262;
  border-radius: 15px;
}

.right {
  margin-left: 4rem;
}
