/*Colors*/
 /*Logo blackish =#343d3e*/
body {
  background: rgb(244, 236, 217);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  background: white;
  margin: 2rem;
  border-radius: 25px;
  padding: 1rem;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.center {
  text-align: center;
  color: #343d3e;
}

.intro-text {
  padding: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  font-family: arial;
}

.login-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid ;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  margin-top: 3rem;
  max-width: 30rem;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.btn {
  padding: 1rem;
  margin: 1rem;
  width: 7rem;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(0,157,220);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }


.flex{
  flex: 1;
}

.footer {
  text-align: center;
  /*margin-top: auto;*/
  color: #86848a;
  font-size: .9em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*reading exercises*/

#exercise1 {
  margin-bottom: 1rem;
}

.examples {
  margin: 2rem;
}

#ex1 {
  padding: 1rem;
  background: rgb(236, 102, 66);
  border-radius: 10px;
}

#ex2 {
  padding: 1rem;
  background: rgb(90, 162, 237);
  border-radius: 10px;
}

#ex3 {
  padding: 1rem;
  background: rgb(140, 209, 112);
  border-radius: 10px;
}

#ex4 {
  padding: 1rem;
  background: pink;
  border-radius: 10px;
}

/*Link styling no style*/
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

/*Back Button and span arrow*/
#arrow {
  padding-right: 1rem;
  padding-bottom: -1rem;
  font-size: 1.8rem;
}

.back-button {
  font-size: 1.1rem;
  margin: 1rem;
}

/*Navigation page*/

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navItem {
  margin: 1rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 3px solid #343d3e;
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
  text-align: center;
  line-height: 15rem;
}
